.App {
  text-align: center;
}


.App-header {
  height: 100px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.statistics-wrapper {
  display: flex;
  margin: auto;
  width: 500px;
}

.card-container {
  flex: 1;
  margin: 20px;
  height: 150px;
  color: green;
  border: 1px solid gray;
  border-radius: 10px;
}

